* {
    padding: 50px;
    margin: 50px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
#myChart{
    width: 90%;
    
}