.nev{
    width: 300px;
    height: 200px;
    overflow: scroll;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header{
    text-align: center;
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}